.WelcomePage {
  min-height: calc(100vh - 92px);
  // background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  background-image: linear-gradient(120deg, #f2ffd5 0%, #c8ffd0 100%);
  background-image: linear-gradient(
    to top,
    #f3e7e9 0%,
    #e3eeff 99%,
    #e3eeff 100%
  );
  // background-image: linear-gradient(120deg, #dcff90 0%, #a0e5a9 100%);
  position: relative;

  &-wrapper {
    text-align: center;
    display: inline;
    margin: 0 auto;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);

    & h1,
    h4 {
      background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      margin-top: 0;
    }
  }
}
