.error-indicator {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    font-size: 28px;
    color: teal;
}

.boom {
    text-transform: uppercase;
    text-align: center;
}

.error__icon {
    width: 64px;
    height: 64px;
    margin: 0 auto;
}